<%- include("partials/header.ejs") %>
    <div class="ui main text container segment">
        <div class="ui huge blue header ">
            <%= blog.title %>
        </div>
        <div class="ui top attached">
            <div class="item">
                <img class="ui centered rounded image" src="<%= blog.image %> ">
            </div>
            <div id="content" class="content">
                <span><%- blog.created.toDateString() %> </span>
            </div>
            <div id="desc" class="description">
                <p>
                    <%= blog.body %>
                </p>
            </div>
            <a id="button" class="ui teal basic large button" href="/blogs/<%= blog._id %>/edit">EDIT</a>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui red basic large button">Delete</button>
            </form>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>